name: Release GenDC Header Library

on:
  push:
    tags:
      - 'v*'  # triggered by tag starting with 'v'

jobs:

  build-and-release-windows:
    runs-on: windows-latest
    env:
      PKG_CONFIG_INSTALL: C:\pkg-config
      PKG_CONFIG_VERSION: 0.28-1
      NINJA_INSTALL: C:\ninja
      PKGCONFIG_URL: https://sourceforge.net/projects/pkgconfiglite/files/0.28-1/pkg-config-lite-0.28-1_bin-win32.zip/download
      VCPKG_VERSION: 2024.09.30
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4.1.1
      with:
        fetch-depth: 0
        
    - name: Check for existing cache
      id: cache_status
      uses: actions/cache@v4
      with:
        path: ${{ github.workspace }}\vcpkg_installed
        key: ${{ runner.os }}-vcpkg-${{ hashFiles('**/gst/vcpkg.json') }}

    - name: Install vcpkg
      if: steps.cache_status.outputs.cache-hit != 'true'
      shell: cmd
      run: |
        git clone https://github.com/microsoft/vcpkg.git
        cd vcpkg
        git checkout ${{env.VCPKG_VERSION}}
        .\bootstrap-vcpkg.bat  && cd ../

    - name: Install dependencies
      if: steps.cache_status.outputs.cache-hit != 'true'
      shell: cmd
      run: |
        ${{ github.workspace }}\vcpkg\vcpkg.exe install --x-install-root ${{ github.workspace }}\vcpkg_installed --x-manifest-root ${{ github.workspace }}\gst

    - name: Cache dependencies
      if: steps.cache_status.outputs.cache-hit != 'true'
      uses: actions/cache/save@v4
      with:
        path: ${{ github.workspace }}\vcpkg_installed
        key: ${{ runner.os }}-vcpkg-${{ hashFiles('**/gst/vcpkg.json') }}

    - name: Disable perl
      run: |
        rm -r C:\Strawberry\perl

    - name: Setup pkg-config-lite to build gst-plugin
      run: |
        Invoke-WebRequest -UserAgent "Wget" -Uri ${{env.PKGCONFIG_URL}} -OutFile pkg-config-lite-0.28-1_bin-win32.zip
        Expand-Archive -Path pkg-config-lite-0.28-1_bin-win32.zip -DestinationPath ${{env.PKG_CONFIG_INSTALL}}
  
    - name: Confirm pkg-config
      id: pkg-config-existence
      uses: andstor/file-existence-action@v3
      with:
        files: ${{env.PKG_CONFIG_INSTALL}}\pkg-config-lite-${{env.PKG_CONFIG_VERSION}}\bin\pkg-config.exe
        fail: true

    - name: Setup Meson to build gst-plugin
      run: |
        pip install meson

    - name: Setup Ninja to build gst-plugin
      uses: ahmedyarub/setup-ninja@master
      with:
        version: 1.11.1
        dest: ${{env.NINJA_INSTALL}}

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Set up MSVC command env
      uses: ilammy/msvc-dev-cmd@v1

    - name: Build gst-plugin
      shell: cmd
      run: |
        set PATH=${{env.PKG_CONFIG_INSTALL}}/pkg-config-lite-${{env.PKG_CONFIG_VERSION}}/bin;%PATH%
        set PATH=${{ github.workspace }}/vcpkg_installed/x64-windows/bin;%PATH%
        set PKG_CONFIG_PATH=${{ github.workspace }}/vcpkg_installed/x64-windows/lib/pkgconfig;%PKG_CONFIG_PATH%
        meson --buildtype=release setup --prefix ${{ github.workspace }}/install/gendc build -Dgst-plugin=enabled

    - name: Install gst-plugin
      shell: cmd
      run: |
        cd ${{ github.workspace }}/build
        meson install

    - name: Setup modules for gst-test
      run: |
        pip install gendc-python==${{ github.ref_name }} 
        pip install numpy

    - name: Test gst-plugin
      shell: cmd
      run: |
        set PATH=${{ github.workspace }}/vcpkg_installed/x64-windows/tools/gstreamer;%PATH%
        set GST_PLUGIN_PATH=${{ github.workspace }}/install/gendc/lib/gstreamer-1.0;%GST_PLUGIN_PATH%
        set GST_PLUGIN_PATH=${{ github.workspace }}/vcpkg_installed/x64-windows/plugins/gstreamer;%GST_PLUGIN_PATH%
        python ${{ github.workspace }}/gst/test/single_frame_test.py -i ${{ github.workspace }}/test/generated_stub/output.bin -o output -n 6
        if %errorlevel% equ 0 (
          echo PASSED GST single frame test with 6 components
        ) else (
          echo FAILED GST single frame test with 6 components
          exit /b 1
        ) 

    - name: Create zip archive
      run: |
        Copy-Item ${{ github.workspace }}\LICENSE.txt ${{ github.workspace }}/install/gendc
        Compress-Archive -Path ${{ github.workspace }}/install/gendc -DestinationPath ${{ github.workspace }}/gendc-${{ github.ref_name }}-win64.zip

    - name: Extract archive content test
      run: |
        New-Item -Path ${{ github.workspace }} -Name "check_archive_content" -ItemType "directory"
        cd ${{ github.workspace }}\check_archive_content
        Expand-Archive -Path ${{ github.workspace }}/gendc-${{ github.ref_name }}-win64.zip -DestinationPath .  

    - name: Check if archive content exists
      id: check_package_windows
      uses: andstor/file-existence-action@v3
      with:
        files: "${{ github.workspace }}/check_archive_content/gendc/LICENSE.txt, ${{ github.workspace }}/check_archive_content/gendc/include/gendc_separator, ${{ github.workspace }}/check_archive_content/gendc/lib/gstreamer-1.0"
        fail: true

    - name: Release-Windows
      uses: softprops/action-gh-release@v1
      with:
          files: |
              gendc-${{ github.ref_name }}-win64.zip
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-and-release-linux:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4.1.1
      with:
        fetch-depth: 0
    - name: Install dependencies
      run: | 
        pip3 install meson==1.1.0 ninja
        sudo apt-get update && sudo apt-get upgrade
        sudo apt-get install libunwind-dev libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev libgstreamer-plugins-bad1.0-dev gstreamer1.0-plugins-base gstreamer1.0-plugins-good gstreamer1.0-plugins-bad gstreamer1.0-plugins-ugly gstreamer1.0-libav gstreamer1.0-tools gstreamer1.0-x gstreamer1.0-alsa gstreamer1.0-gl gstreamer1.0-gtk3 gstreamer1.0-qt5 gstreamer1.0-pulseaudio
    - name: Build gst-plugin
      run: |
        meson --buildtype=release setup --prefix ${{ github.workspace }}/install/gendc build -Dgst-plugin=enabled
    - name: Install gst-plugin
      run: |
        cd build
        ninja install
    - name: Setup modules for gst-test
      run: |
        pip install gendc-python==${{ github.ref_name }}
        pip install numpy
    - name: Test gst-plugin
      run: |
        export GST_PLUGIN_PATH=${{ github.workspace }}/install/gendc/lib/x86_64-linux-gnu/gstreamer-1.0:$GST_PLUGIN_PATH
        if python3 ${{ github.workspace }}/gst/test/single_frame_test.py -i ${{ github.workspace }}/test/generated_stub/output.bin -o output -n 6; then
          echo 'PASSED GST single fram test with 6 components'
        else
          echo 'FAILED GST single fram test with 6 components'
          exit 1
        fi  

    - name: Create tar archive
      run: |
        cp ${{ github.workspace }}/LICENSE.txt ${{ github.workspace }}/install/gendc
        cd ${{ github.workspace }}/install/gendc
        tar -czvf ${{ github.workspace }}/gendc-${{ github.ref_name }}-linux.tar.gz .

    - name: Extract archive content test
      run: |
        mkdir -p check_archive_content/gendc
        cd check_archive_content/gendc
        tar -xvf ${{ github.workspace }}/gendc-${{ github.ref_name }}-linux.tar.gz  --strip-components 1

    - name: Check if archive content exists
      id: check_package_ubuntu
      uses: andstor/file-existence-action@v3
      with:
        files: "${{ github.workspace }}/check_archive_content/gendc/LICENSE.txt, ${{ github.workspace }}/check_archive_content/gendc/include/gendc_separator, ${{ github.workspace }}/check_archive_content/gendc/lib/x86_64-linux-gnu/gstreamer-1.0/"
        fail: true

    - name: Release-Linux
      uses: softprops/action-gh-release@v1
      with:
          files: |
              gendc-${{ github.ref_name }}-linux.tar.gz
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  
  release-job:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Create ZIP Archive
      run: |
        cd gendc_cpp
        cp ../LICENSE.txt .
        zip -r gendc_separator_${{ github.ref_name }}_win64.zip gendc_separator
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
          files: |
              gendc_cpp/gendc_separator*.zip
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
